@model Ticket
@{
    ViewData["Title"] = "Examination";
}

<div class="text-center">
    <h1>Examination</h1>
    
    <h6>Id: @Model.Id</h6>
    <h6>@Model.FromIndex</h6>
    <h6>@Model.QuestionsCount</h6>
    <h6>@Model.CorrectCount</h6>

    <a class="btn btn-primary" asp-action="Exam" asp-route-ticketId="@Model.Id" asp-route-questionId="@Model.FromIndex">Start</a>
</div>